<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated failuremodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.failuremodel.failurescenario.presentation.FailurescenarioModelWizardID"
            name="%_UI_FailurescenarioModelWizard_label"
            class="org.palladiosimulator.failuremodel.failurescenario.presentation.FailurescenarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FailurescenarioModelFile.gif">
         <description>%_UI_FailurescenarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated failuremodel -->
      <editor
            id="org.palladiosimulator.failuremodel.failurescenario.presentation.FailurescenarioEditorID"
            name="%_UI_FailurescenarioEditor_label"
            icon="icons/full/obj16/FailurescenarioModelFile.gif"
            extensions="failurescenario"
            class="org.palladiosimulator.failuremodel.failurescenario.presentation.FailurescenarioEditor"
            contributorClass="org.palladiosimulator.failuremodel.failurescenario.presentation.FailurescenarioActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated failuremodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.failuremodel.failuretype.presentation.FailuretypeModelWizardID"
            name="%_UI_FailuretypeModelWizard_label"
            class="org.palladiosimulator.failuremodel.failuretype.presentation.FailuretypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FailuretypeModelFile.gif">
         <description>%_UI_FailuretypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated failuremodel -->
      <editor
            id="org.palladiosimulator.failuremodel.failuretype.presentation.FailuretypeEditorID"
            name="%_UI_FailuretypeEditor_label"
            icon="icons/full/obj16/FailuretypeModelFile.gif"
            extensions="failuretype"
            class="org.palladiosimulator.failuremodel.failuretype.presentation.FailuretypeEditor"
            contributorClass="org.palladiosimulator.failuremodel.failuretype.presentation.FailuretypeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated failuremodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.failuremodel.qualitygate.presentation.QualitygateModelWizardID"
            name="%_UI_QualitygateModelWizard_label"
            class="org.palladiosimulator.failuremodel.qualitygate.presentation.QualitygateModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QualitygateModelFile.gif">
         <description>%_UI_QualitygateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated failuremodel -->
      <editor
            id="org.palladiosimulator.failuremodel.qualitygate.presentation.QualitygateEditorID"
            name="%_UI_QualitygateEditor_label"
            icon="icons/full/obj16/QualitygateModelFile.gif"
            extensions="qualitygate"
            class="org.palladiosimulator.failuremodel.qualitygate.presentation.QualitygateEditor"
            contributorClass="org.palladiosimulator.failuremodel.qualitygate.presentation.QualitygateActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated failuremodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.failuremodel.qualitygatemeasuringpoint.presentation.QualitygatemeasuringpointModelWizardID"
            name="%_UI_QualitygatemeasuringpointModelWizard_label"
            class="org.palladiosimulator.failuremodel.qualitygatemeasuringpoint.presentation.QualitygatemeasuringpointModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QualitygatemeasuringpointModelFile.gif">
         <description>%_UI_QualitygatemeasuringpointModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated failuremodel -->
      <editor
            id="org.palladiosimulator.failuremodel.qualitygatemeasuringpoint.presentation.QualitygatemeasuringpointEditorID"
            name="%_UI_QualitygatemeasuringpointEditor_label"
            icon="icons/full/obj16/QualitygatemeasuringpointModelFile.gif"
            extensions="qualitygatemeasuringpoint"
            class="org.palladiosimulator.failuremodel.qualitygatemeasuringpoint.presentation.QualitygatemeasuringpointEditor"
            contributorClass="org.palladiosimulator.failuremodel.qualitygatemeasuringpoint.presentation.QualitygatemeasuringpointActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated failuremodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.failuremodel.severityhierarchy.presentation.SeverityhierarchyModelWizardID"
            name="%_UI_SeverityhierarchyModelWizard_label"
            class="org.palladiosimulator.failuremodel.severityhierarchy.presentation.SeverityhierarchyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SeverityhierarchyModelFile.gif">
         <description>%_UI_SeverityhierarchyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated failuremodel -->
      <editor
            id="org.palladiosimulator.failuremodel.severityhierarchy.presentation.SeverityhierarchyEditorID"
            name="%_UI_SeverityhierarchyEditor_label"
            icon="icons/full/obj16/SeverityhierarchyModelFile.gif"
            extensions="severityhierarchy"
            class="org.palladiosimulator.failuremodel.severityhierarchy.presentation.SeverityhierarchyEditor"
            contributorClass="org.palladiosimulator.failuremodel.severityhierarchy.presentation.SeverityhierarchyActionBarContributor">
      </editor>
   </extension>

</plugin>
